definition/rowset-mdschema-cubes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="urn:schemas-microsoft-com:xml-analysis:rowset"
  xmlns:sql="urn:schemas-microsoft-com:xml-sql"
  targetNamespace="urn:schemas-microsoft-com:xml-analysis:rowset"
  elementFormDefault="qualified">

  <!-- UUID simple type -->
  <xsd:simpleType name="uuid">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9a-zA-Z]{8}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{12}" />
    </xsd:restriction>
  </xsd:simpleType>

  <!-- MDSCHEMA_CUBES row definition (MS-SSAS v20251031) -->
  <xsd:complexType name="mdschema-cubes-row">
    <xsd:sequence>
      <xsd:element name="CATALOG_NAME" type="xsd:string" />
      <xsd:element name="SCHEMA_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="CUBE_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="CUBE_TYPE" type="xsd:string" minOccurs="0" />
      <xsd:element name="CUBE_GUID" type="uuid" minOccurs="0" />
      <xsd:element name="CREATED_ON" type="xsd:dateTime" minOccurs="0" />
      <xsd:element name="LAST_SCHEMA_UPDATE" type="xsd:dateTime" minOccurs="0" />
      <xsd:element name="SCHEMA_UPDATED_BY" type="xsd:string" minOccurs="0" />
      <xsd:element name="LAST_DATA_UPDATE" type="xsd:dateTime" minOccurs="0" />
      <xsd:element name="DATA_UPDATED_BY" type="xsd:string" minOccurs="0" />
      <xsd:element name="DESCRIPTION" type="xsd:string" minOccurs="0" />
      <xsd:element name="IS_DRILLTHROUGH_ENABLED" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="IS_LINKABLE" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="IS_WRITE_ENABLED" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="IS_SQL_ENABLED" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="CUBE_CAPTION" type="xsd:string" minOccurs="0" />
      <xsd:element name="BASE_CUBE_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="CUBE_SOURCE" type="xsd:unsignedShort" minOccurs="0" />
      <xsd:element name="PREFERRED_QUERY_PATTERNS" type="xsd:unsignedShort" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
