definition/rowset-mdschema-levels.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="urn:schemas-microsoft-com:xml-analysis:rowset"
  xmlns:sql="urn:schemas-microsoft-com:xml-sql"
  targetNamespace="urn:schemas-microsoft-com:xml-analysis:rowset"
  elementFormDefault="qualified">

  <!-- UUID simple type -->
  <xsd:simpleType name="uuid">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9a-zA-Z]{8}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{12}" />
    </xsd:restriction>
  </xsd:simpleType>

  <!-- MDSCHEMA_LEVELS row definition (MS-SSAS v20251031) -->
  <xsd:complexType name="mdschema-levels-row">
    <xsd:sequence>
      <xsd:element name="CATALOG_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="SCHEMA_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="CUBE_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="DIMENSION_UNIQUE_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="HIERARCHY_UNIQUE_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="LEVEL_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="LEVEL_UNIQUE_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="LEVEL_GUID" type="uuid" minOccurs="0" />
      <xsd:element name="LEVEL_CAPTION" type="xsd:string" minOccurs="0" />
      <xsd:element name="LEVEL_NUMBER" type="xsd:unsignedInt" minOccurs="0" />
      <xsd:element name="LEVEL_CARDINALITY" type="xsd:unsignedInt" minOccurs="0" />
      <xsd:element name="LEVEL_TYPE" type="xsd:int" minOccurs="0" />
      <xsd:element name="DESCRIPTION" type="xsd:string" minOccurs="0" />
      <xsd:element name="CUSTOM_ROLLUP_SETTINGS" type="xsd:int" minOccurs="0" />
      <xsd:element name="LEVEL_UNIQUE_SETTINGS" type="xsd:int" minOccurs="0" />
      <xsd:element name="LEVEL_IS_VISIBLE" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="LEVEL_ORDERING_PROPERTY" type="xsd:string" minOccurs="0" />
      <xsd:element name="LEVEL_DBTYPE" type="xsd:int" minOccurs="0" />
      <xsd:element name="LEVEL_MASTER_UNIQUE_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="LEVEL_NAME_SQL_COLUMN_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="LEVEL_KEY_SQL_COLUMN_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="LEVEL_UNIQUE_NAME_SQL_COLUMN_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="LEVEL_ATTRIBUTE_HIERARCHY_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="LEVEL_KEY_CARDINALITY" type="xsd:unsignedShort" minOccurs="0" />
      <xsd:element name="LEVEL_ORIGIN" type="xsd:unsignedShort" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
