definition/rowset-discover-properties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="urn:schemas-microsoft-com:xml-analysis:rowset"
  xmlns:sql="urn:schemas-microsoft-com:xml-sql"
  targetNamespace="urn:schemas-microsoft-com:xml-analysis:rowset"
  elementFormDefault="qualified">

  <!-- DISCOVER_PROPERTIES row definition (MS-SSAS v20251031) -->
  <xsd:complexType name="discover-properties-row">
    <xsd:sequence>
      <xsd:element name="PropertyName" type="xsd:string" />
      <xsd:element name="PropertyDescription" type="xsd:string" minOccurs="0" />
      <xsd:element name="PropertyType" type="xsd:string" minOccurs="0" />
      <xsd:element name="PropertyAccessType" type="xsd:string"  />
      <xsd:element name="IsRequired" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="Value" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
