definition/rowset-discover-schema-rowsets.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="urn:schemas-microsoft-com:xml-analysis:rowset"
  xmlns:sql="urn:schemas-microsoft-com:xml-sql"
  targetNamespace="urn:schemas-microsoft-com:xml-analysis:rowset"
  elementFormDefault="qualified">

  <!-- UUID simple type -->
  <xsd:simpleType name="uuid">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9a-zA-Z]{8}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{12}" />
    </xsd:restriction>
  </xsd:simpleType>

  <!-- DISCOVER_SCHEMA_ROWSETS row definition (MS-SSAS v20251031) -->
  <xsd:complexType name="discover-schema-rowsets-row">
    <xsd:sequence>
      <xsd:element name="SchemaName" type="xsd:string" />
      <xsd:element name="SchemaGuid" type="uuid" minOccurs="0" />
      <xsd:element name="Restrictions" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Name" type="xsd:string" />
            <xsd:element name="Type" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Description" type="xsd:string" minOccurs="0" />
      <xsd:element name="RestrictionsMask" type="xsd:unsignedLong" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
