definition/rowset-mdschema-hierarchies.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="urn:schemas-microsoft-com:xml-analysis:rowset"
  xmlns:sql="urn:schemas-microsoft-com:xml-sql"
  targetNamespace="urn:schemas-microsoft-com:xml-analysis:rowset"
  elementFormDefault="qualified">

  <!-- UUID simple type -->
  <xsd:simpleType name="uuid">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9a-zA-Z]{8}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{12}" />
    </xsd:restriction>
  </xsd:simpleType>

  <!-- MDSCHEMA_HIERARCHIES row definition (MS-SSAS v20251031) -->
  <xsd:complexType name="mdschema-hierarchies-row">
    <xsd:sequence>
      <xsd:element name="CATALOG_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="SCHEMA_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="CUBE_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="DIMENSION_UNIQUE_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="HIERARCHY_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="HIERARCHY_UNIQUE_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="HIERARCHY_GUID" type="uuid" minOccurs="0" />
      <xsd:element name="HIERARCHY_CAPTION" type="xsd:string" minOccurs="0" />
      <xsd:element name="DIMENSION_TYPE" type="xsd:short" minOccurs="0" />
      <xsd:element name="HIERARCHY_CARDINALITY" type="xsd:unsignedInt" minOccurs="0" />
      <xsd:element name="DEFAULT_MEMBER" type="xsd:string" minOccurs="0" />
      <xsd:element name="ALL_MEMBER" type="xsd:string" minOccurs="0" />
      <xsd:element name="DESCRIPTION" type="xsd:string" minOccurs="0" />
      <xsd:element name="STRUCTURE" type="xsd:short" minOccurs="0" />
      <xsd:element name="IS_VIRTUAL" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="IS_READWRITE" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="DIMENSION_UNIQUE_SETTINGS" type="xsd:int" minOccurs="0" />
      <xsd:element name="DIMENSION_MASTER_UNIQUE_NAME" type="xsd:string" minOccurs="0" />
      <xsd:element name="DIMENSION_IS_VISIBLE" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="HIERARCHY_ORDINAL" type="xsd:unsignedInt" minOccurs="0" />
      <xsd:element name="DIMENSION_IS_SHARED" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="HIERARCHY_IS_VISIBLE" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="HIERARCHY_ORIGIN" type="xsd:unsignedShort" minOccurs="0" />
      <xsd:element name="HIERARCHY_DISPLAY_FOLDER" type="xsd:string" minOccurs="0" />
      <xsd:element name="INSTANCE_SELECTION" type="xsd:unsignedShort" minOccurs="0" />
      <xsd:element name="GROUPING_BEHAVIOR" type="xsd:unsignedShort" minOccurs="0" />
      <xsd:element name="STRUCTURE_TYPE" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
